@import (reference) './tokens.less';

* {
  all: revert;
  box-sizing: border-box;
  margin: 0;
}

h2 {
  font-size: @font-size-xxx-large;
  margin: @spacing-75 @spacing-0;
  color: @color-base;
}

p {
  margin: @spacing-75 @spacing-0;
  color: @color-base;
}

input,
button,
textarea,
select {
  font: inherit;
  text-transform: none;
}

*::-moz-focus-inner {
  border: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}